@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="NamLoc">
    <link rel="shortcut icon" href="/assets/img/favicon.png">

    <title>Admin-CMS</title>

    <!-- Main styles for this application -->
    <link href="~/Assets/libs/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Assets/libs/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/Assets/css/app/style.css" rel="stylesheet" />

</head>



<body class="header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">

    <!-- User Interface -->
    <ui-view class="app"></ui-view>

    <!-- Bootstrap and necessary plugins -->
    <script src="~/Assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/libs/js-cookie/src/js.cookie.js"></script>
    <script src="~/Assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Assets/libs/toastr/toastr.min.js"></script>
    <script src="~/Assets/libs/ckeditor/ckeditor.js"></script>
    <script src="~/Assets/libs/select2/dist/js/select2.full.min.js"></script>
    <!-- AngularJS -->
    <script src="~/Assets/libs/angular/angular.min.js"></script>
    <!-- AngularJS plugins -->
    <script src="~/Assets/libs/angular-animate/angular-animate.min.js"></script>
    <script src="~/Assets/libs/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="~/Assets/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="~/Assets/libs/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script src="~/Assets/libs/angular-breadcrumb/dist/angular-breadcrumb.min.js"></script>
    <script src="~/Assets/libs/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="~/Assets/libs/ngBootbox/dist/ngBootbox.min.js"></script>
    <script src="~/Assets/libs/checklist-model/checklist-model.js"></script>
    <script src="~/Assets/libs/angular-password/angular-password.min.js"></script>
    <script src="~/Assets/libs/angular-ui-select2/src/select2.js"></script>

    <script src="~/Assets/libs/ng-ckeditor/ng-ckeditor.js"></script>
    <!-- AngularJS CoreUI App scripts -->

    <script src="~/App/js/app.js"></script>
    <script src="~/App/js/shared/app.common.js"></script>

    <script src="~/App/js/routes.js"></script>
    <script src="~/App/js/routesConfig/routes.js"></script>

    <script src="~/App/js/shared/services/apiService.js"></script>
    <script src="~/App/js/shared/services/authData.js"></script>
    <script src="~/App/js/shared/services/authenticationService.js"></script>
    <script src="~/App/js/shared/services/loginService.js"></script>
    <script src="~/App/js/shared/services/notificationService.js"></script>

    <script src="~/App/js/controllers.js"></script>
    <script src="~/App/js/directives.js"></script>

</body>
</html>