@model WBrand.Core.Domain.Models.Catalog.ProductModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="div-box mb">
    <div class="tour-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="productdt-wrap">
                        <div class="productdt-content">
                            <div class="col-md-5">
                                <div id="jssor3" class="product-imgs">
                                    <!-- Loading Screen -->
                                    <div data-u="loading" class="js-spin jssorl-009-spin">
                                        <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="/Assets/client/libs/jssor.slider/svg/loading/static-svg/spin.svg" />
                                    </div>
                                    <div data-u="slides" class="imgs-detail">
                                        <div>
                                            <img data-u="image" src="/Assets/client/images/002.jpg" />
                                            <img data-u="thumb" src="/Assets/client/images/thumb-002.jpg" />
                                        </div>
                                        <div>
                                            <img data-u="image" src="/Assets/client/images/003.jpg" />
                                            <img data-u="thumb" src="/Assets/client/images/thumb-003.jpg" />
                                        </div>
                                        <div>
                                            <img data-u="image" src="/Assets/client/images/004.jpg" />
                                            <img data-u="thumb" src="/Assets/client/images/thumb-004.jpg" />
                                        </div>
                                    </div>
                                    <!-- Thumbnail Navigator -->
                                    <div data-u="thumbnavigator" class="thumbnails jssort101" data-autocenter="1" data-scale-bottom="0.75" style="top:650px;">
                                        <div data-u="slides">
                                            <div data-u="prototype" class="p thumbnails-dt">
                                                <div data-u="thumbnailtemplate" class="t"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Arrow Navigator -->
                                    <div data-u="arrowleft" class="jssora106" style="width:55px;height:55px;top:162px;left:30px;" data-scale="0.75">
                                        <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                            <circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
                                            <polyline class="a" points="7930.4,5495.7 5426.1,8000 7930.4,10504.3 "></polyline>
                                            <line class="a" x1="10573.9" y1="8000" x2="5426.1" y2="8000"></line>
                                        </svg>
                                    </div>
                                    <div data-u="arrowright" class="jssora106" style="width:55px;height:55px;top:162px;right:30px;" data-scale="0.75">
                                        <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                            <circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
                                            <polyline class="a" points="8069.6,5495.7 10573.9,8000 8069.6,10504.3 "></polyline>
                                            <line class="a" x1="5426.1" y1="8000" x2="10573.9" y2="8000"></line>
                                        </svg>
                                    </div>
                                    <script>jssor_slider_init(jssor3);</script>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="single-product">
                                    <div class="prt-header">
                                        <h2>Nhôm định hình IT40x40R1</h2>
                                        <div>Thương hiệu: <span class="brand">nhat ban</span>SKU: <span class="sku">0334434534</span></div>
                                        <ul class="product-social">
                                            <li><a href="#"><img class="img-responsive" src="/Assets/client/images/icon/facebook.png" alt=""></a></li>
                                            <li><a href="#"><img class="img-responsive" src="/Assets/client/images/icon/twitter.png" alt=""></a></li>
                                            <li><a href="#"><img class="img-responsive" src="/Assets/client/images/icon/youtube.png" alt=""></a></li>
                                            <li><a href="#"><img class="img-responsive" src="/Assets/client/images/icon/google.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="pr-content">
                                        <span style="color:blue">Lý do lựa chọn thanh nhôm định hình Namloc</span></br>
                                        - Chất lượng nhôm định hình luôn đạt tiêu chuẩn quốc tế</br>
                                        - Đa dạng mẫu mã và kích thước</br>
                                        - Giá nhôm định hình cạnh tranh</br>
                                        - Tính chất nhôm luôn sáng bóng, chịu lực tốt, chổng gỉ sét, chịu tác động môi trường xung quanh</br>
                                        - Phù hợp với các công trình xây dựng, các ứng dụng công nghiệp
                                    </div>
                                    <div class="pr-button">
                                        <div><button class="hotline-bt">Liên Hệ: 0909753988</button></div>
                                        <div class="readline"><span>hoac gửi mail để nhận báo giá</span></div>
                                        <div class="sendmail-bt"><input type="text" placeholder="Nhập email"><button type="submit" class="searchButton">Gửi</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-box mb">
    <div class="tour-wrapper">
        <div class="container">
            <div class="h-title">
                <h2 class="title-style1 mb45">Chi tiet ky thuat</h2>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="specific-wrap">
                        <div class="specific-content">
                            <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:380px;overflow:hidden;visibility:hidden;">
                                <!-- Loading Screen -->
                                <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                                    <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="/Assets/client/libs/jssor.slider/svg/loading/static-svg/spin.svg" />
                                </div>
                                <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1300px;height:500px;overflow:hidden;">
                                    <div>
                                        <img data-u="image" src="/Assets/client/images/test/001.jpg" />
                                    </div>
                                    <div>
                                        <img data-u="image" src="/Assets/client/images/test/002.jpg" />
                                    </div>
                                    <div>
                                        <img data-u="image" src="/Assets/client/images/test/003.jpg" />
                                    </div>
                                </div>
                                <!-- Arrow Navigator -->
                                <div data-u="arrowleft" class="jssora051" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
                                    <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                        <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
                                    </svg>
                                </div>
                                <div data-u="arrowright" class="jssora051" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
                                    <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                        <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
                                    </svg>
                                </div>
                                <script>jssor_slider_init("jssor_1");</script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-box mb">
    <div class="tour-wrapper">
        <div class="container">
            <div class="h-title">
                <h2 class="title-style1 mb45">San pham lien quan</h2>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="product-wrap">
                        <div class="product-content">
                            <div class="col-md-3 col-sm-6 mt20">
                                <div class="product-ct">
                                    <div class="product-img">
                                        <a href="product_detail.html"><img class="img-responsive" src="/Assets/client/images/product-03.png" alt=""></a>
                                    </div>
                                    <div class="product-info">
                                        <h5><a href="product_detail.html">Nhôm định hình IT40</a></h5>
                                        <p>chất lượng nhôm định  hình luôn đạt tiêu chuẩn quốc tế</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 mt20">
                                <div class="product-ct">
                                    <div class="product-img">
                                        <a href="product_detail.html"><img class="img-responsive" src="/Assets/client/images/product-03.png" alt=""></a>
                                    </div>
                                    <div class="product-info">
                                        <h5><a href="product_detail.html">Nhôm định hình IT40</a></h5>
                                        <p>chất lượng nhôm định  hình luôn đạt tiêu chuẩn quốc tế</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 mt20">
                                <div class="product-ct">
                                    <div class="product-img">
                                        <a href="product_detail.html"><img class="img-responsive" src="/Assets/client/images/product-03.png" alt=""></a>
                                    </div>
                                    <div class="product-info">
                                        <h5><a href="product_detail.html">Nhôm định hình IT40</a></h5>
                                        <p>chất lượng nhôm định  hình luôn đạt tiêu chuẩn quốc tế</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 mt20">
                                <div class="product-ct">
                                    <div class="product-img">
                                        <a href="product_detail.html"><img class="img-responsive" src="/Assets/client/images/product-03.png" alt=""></a>
                                    </div>
                                    <div class="product-info">
                                        <h5><a href="product_detail.html">Nhôm định hình IT40</a></h5>
                                        <p>chất lượng nhôm định  hình luôn đạt tiêu chuẩn quốc tế</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 mt20">
                                <div class="product-ct">
                                    <div class="product-img">
                                        <a href="product_detail.html"><img class="img-responsive" src="/Assets/client/images/product-03.png" alt=""></a>
                                    </div>
                                    <div class="product-info">
                                        <h5><a href="product_detail.html">Nhôm định hình IT40</a></h5>
                                        <p>chất lượng nhôm định  hình luôn đạt tiêu chuẩn quốc tế</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 mt20">
                                <div class="product-ct">
                                    <div class="product-img">
                                        <a href="product_detail.html"><img class="img-responsive" src="/Assets/client/images/product-03.png" alt=""></a>
                                    </div>
                                    <div class="product-info">
                                        <h5><a href="product_detail.html">Nhôm định hình IT40</a></h5>
                                        <p>chất lượng nhôm định  hình luôn đạt tiêu chuẩn quốc tế</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 mt20">
                                <div class="product-ct">
                                    <div class="product-img">
                                        <a href="product_detail.html"><img class="img-responsive" src="/Assets/client/images/product-03.png" alt=""></a>
                                    </div>
                                    <div class="product-info">
                                        <h5><a href="product_detail.html">Nhôm định hình IT40</a></h5>
                                        <p>chất lượng nhôm định  hình luôn đạt tiêu chuẩn quốc tế</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 mt20">
                                <div class="product-ct">
                                    <div class="product-img">
                                        <a href="product_detail.html"><img class="img-responsive" src="/Assets/client/images/product-03.png" alt=""></a>
                                    </div>
                                    <div class="product-info">
                                        <h5><a href="product_detail.html">Nhôm định hình IT40</a></h5>
                                        <p>chất lượng nhôm định  hình luôn đạt tiêu chuẩn quốc tế</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>