<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form novalidate role="form" name="frm" class="form-horizontal">
                    <div class="card-header">
                        <strong>Thông tin nhóm</strong>
                    </div>
                    <div class="card-body">

                        <div class="form-group row" ng-class="{ 'is-invalid' : frm.name.$invalid && !frm.name.$pristine }">
                            <label class="col-md-3 col-form-label" for="text-input">Tên bài viết</label>
                            <div class="col-md-9">
                                <input required type="text" id="text-name" name="name" ng-model="data.Name" maxlength="128" class="form-control" placeholder="Tên nhóm">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Danh mục cha</label>
                            <div class="col-md-9">
                                <select ui-select2 ng-model="data.CategoryId" class="form-control" ng-options="option.Id as option.Name for option in categories"></select>
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{ 'is-invalid' : frm.ShortContent.$invalid && !frm.ShortContent.$pristine }">
                            <label class="col-md-3 col-form-label" for="text-input">Mô tả ngắn</label>
                            <div class="col-md-9">
                                <textarea required type="text" id="text-ShortContent" name="ShortContent" ng-model="data.ShortContent" maxlength="512" rows="3" class="form-control" placeholder="Mô tả ngắn"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Ảnh sản phẩm đại diện</label>
                            <div class="col-md-9">
                                <ul class="list-inline">
                                    <li><img src="{{data.Image}}" width="100" /></li>
                                </ul>
                                <button class="btn btn-success" type="button" ng-click="chooseImage()">Chọn ảnh...</button>
                                <input type="hidden" class="form-control" name="Image" ng-model="data.Image">
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{ 'is-invalid' : frm.fullContent.$invalid && !frm.fullContent.$pristine }">
                            <label class="col-md-3 col-form-label" for="text-input">Bài viết</label>
                            <div class="col-md-9">
                                <textarea required type="text" id="text-fullContent" name="fullContent" ng-model="data.FullContent" ckeditor="ckeditorOptions" rows="30" class="form-control" placeholder="Nội dung"></textarea>
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{ 'is-invalid' : frm.publishDate.$invalid && !frm.publishDate.$pristine }">
                            <label class="col-md-3 col-form-label" for="text-input">Ngày xuất bản</label>
                            <div class="col-md-9">
                                <input required type="text" id="publishDate" name="publishDate" ng-model="data.PublishDate" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{ 'is-invalid' : frm.MetaTitle.$invalid && !frm.MetaTitle.$pristine }">
                            <label class="col-md-3 col-form-label" for="text-input">Meta title</label>
                            <div class="col-md-9">
                                <input type="text" id="text-MetaTitle" name="MetaTitle" ng-model="data.MetaTitle" maxlength="128" class="form-control" placeholder="Nhập title">
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{ 'is-invalid' : frm.MetaDescription.$invalid && !frm.MetaDescription.$pristine }">
                            <label class="col-md-3 col-form-label" for="text-input">Meta Description</label>
                            <div class="col-md-9">
                                <input type="text" id="text-MetaDescription" name="MetaDescription" ng-model="data.MetaDescription" maxlength="128" class="form-control" placeholder="Nhập description">
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{ 'is-invalid' : frm.MetaKeyword.$invalid && !frm.MetaKeyword.$pristine }">
                            <label class="col-md-3 col-form-label" for="text-input">Meta Keyword</label>
                            <div class="col-md-9">
                                <input type="text" id="text-MetaKeyword" name="MetaKeyword" ng-model="data.MetaKeyword" maxlength="128" class="form-control" placeholder="Nhập keyword">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Hiển thị</label>
                            <div class="col-md-9">
                                <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" ng-model="data.IsPublish">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" ng-click="save()" class="btn btn-sm btn-primary" ng-disabled="frm.$invalid"><i class="fa fa-dot-circle-o"></i> Lưu</button>
                        <button type="reset" class="btn btn-sm btn-danger" ui-sref="app.catalog.category"><i class="fa fa-ban"></i> Hủy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>