<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form novalidate role="form" name="frm" class="form-horizontal">
                    <div class="card-header">
                        <strong>Thông tin nhóm</strong>
                    </div>
                    <div class="card-body">

                        <div class="form-group row" ng-class="{ 'is-invalid' : frm.name.$invalid && !frm.name.$pristine }">
                            <label class="col-md-3 col-form-label" for="text-input">Tên nhóm</label>
                            <div class="col-md-9">
                                <input required type="text" id="text-input" name="name" ng-model="group.Name" maxlength="128" class="form-control" placeholder="Tên nhóm">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" ng-click="save()" class="btn btn-sm btn-primary" ng-disabled="frm.$invalid"><i class="fa fa-dot-circle-o"></i> Lưu</button>
                        <button type="reset" class="btn btn-sm btn-danger" ui-sref="app.roleGroups"><i class="fa fa-ban"></i> Hủy</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong>Danh sách quyền</strong>
                </div>
                <form novalidate>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-9 col-form-label">
                                <div class="form-check checkbox" ng-repeat="role in roles">
                                    <input class="form-check-input" type="checkbox" id="checkbox1" checklist-model="group.Roles" checklist-value="role">
                                    <label class="form-check-label" for="checkbox1">{{role.Description}}</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--/.row-->
    <div class="row">
        
    </div>
</div>