@model WBrand.Common.Page.PaginationSet<WBrand.Core.Domain.Models.Blog.BlogPostModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="desc-scrum">
                <p>Trang chu </p>
                <p>Nhom dinh hinh </p>
                <p>Nhom dinh hinh IT40x40R1 </p>
            </div>
        </div>
    </div>
</div>
<div class="div-box mb">
    <div class="tour-wrapper">
        <div class="container">
            <div class="row">
                @{Html.RenderAction("Category", "Blog");}
                <div class="col-md-9 col-sm-9">
                    <div class="news-wrap">
                        <div class="news-content">
                            <div class="col-md-12 col-sm-12">
                                <div class="news-ct clearfix">
                                    <div class="news-img">
                                        <a href="news.html"><img class="img-responsive" src="../images/334768397646615-659-x-425.png" alt=""></a>
                                    </div>
                                    <div class="news-info">
                                        <h3><a href="news.html">CÔNG DỤNG CỦA NHÔM ĐỊNH HÌNH</a></h3>
                                        <span><i class="fa fa-calendar" aria-hidden="true"></i> 15-02-2017</span>
                                        <span><i class="fa fa-user" aria-hidden="true"></i> Admin</span>
                                        <p>Thanh nhôm định hình là những loại nhôm đã qua quá trình xử lý kim loại nhằm phát huy tối đa các đặc tính vật lý của nhôm, phù hợp cho các nhà thiết kế, kỹ sư và nhà sản xuất. Nhôm định hình ngày càng được ứng dụng rộng trong các ngành công nghiệp …</p>
                                        <div class="link float-right">
                                            <a href="#">doc them</a>
                                            <ul class="share_social">
                                                chia sẽ:
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="news-ct clearfix">
                                    <div class="news-img">
                                        <a href="news.html"><img class="img-responsive" src="../images/334768397646615-659-x-425.png" alt=""></a>
                                    </div>
                                    <div class="news-info">
                                        <h3><a href="news.html">CÔNG DỤNG CỦA NHÔM ĐỊNH HÌNH</a></h3>
                                        <span><i class="fa fa-calendar" aria-hidden="true"></i> 15-02-2017</span>
                                        <span><i class="fa fa-user" aria-hidden="true"></i> Admin</span>
                                        <p>Thanh nhôm định hình là những loại nhôm đã qua quá trình xử lý kim loại nhằm phát huy tối đa các đặc tính vật lý của nhôm, phù hợp cho các nhà thiết kế, kỹ sư và nhà sản xuất. Nhôm định hình ngày càng được ứng dụng rộng trong các ngành công nghiệp …</p>
                                        <div class="link float-right">
                                            <a href="#">doc them</a>
                                            <ul class="share_social">
                                                chia sẽ:
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="news-ct clearfix">
                                    <div class="news-img">
                                        <a href="news.html"><img class="img-responsive" src="../images/aluminiumextrusion-1766.png" alt=""></a>
                                    </div>
                                    <div class="news-info">
                                        <h3><a href="news.html">CÔNG DỤNG CỦA NHÔM ĐỊNH HÌNH</a></h3>
                                        <span><i class="fa fa-calendar" aria-hidden="true"></i> 15-02-2017</span>
                                        <span><i class="fa fa-user" aria-hidden="true"></i> Admin</span>
                                        <p>Thanh nhôm định hình là những loại nhôm đã qua quá trình xử lý kim loại nhằm phát huy tối đa các đặc tính vật lý của nhôm, phù hợp cho các nhà thiết kế, kỹ sư và nhà sản xuất. Nhôm định hình ngày càng được ứng dụng rộng trong các ngành công nghiệp …</p>
                                        <div class="link float-right">
                                            <a href="#">doc them</a>
                                            <ul class="share_social">
                                                chia sẽ:
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="news-ct clearfix">
                                    <div class="news-img">
                                        <a href="news.html"><img class="img-responsive" src="../images/334768397646615-659-x-425.png" alt=""></a>
                                    </div>
                                    <div class="news-info">
                                        <h3><a href="news.html">CÔNG DỤNG CỦA NHÔM ĐỊNH HÌNH</a></h3>
                                        <span><i class="fa fa-calendar" aria-hidden="true"></i> 15-02-2017</span>
                                        <span><i class="fa fa-user" aria-hidden="true"></i> Admin</span>
                                        <p>Thanh nhôm định hình là những loại nhôm đã qua quá trình xử lý kim loại nhằm phát huy tối đa các đặc tính vật lý của nhôm, phù hợp cho các nhà thiết kế, kỹ sư và nhà sản xuất. Nhôm định hình ngày càng được ứng dụng rộng trong các ngành công nghiệp …</p>
                                        <div class="link float-right">
                                            <a href="#">doc them</a>
                                            <ul class="share_social">
                                                chia sẽ:
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="news-ct clearfix">
                                    <div class="news-img">
                                        <a href="news.html"><img class="img-responsive" src="../images/aluminiumextrusion-1766.png" alt=""></a>
                                    </div>
                                    <div class="news-info">
                                        <h3><a href="news.html">CÔNG DỤNG CỦA NHÔM ĐỊNH HÌNH</a></h3>
                                        <span><i class="fa fa-calendar" aria-hidden="true"></i> 15-02-2017</span>
                                        <span><i class="fa fa-user" aria-hidden="true"></i> Admin</span>
                                        <p>Thanh nhôm định hình là những loại nhôm đã qua quá trình xử lý kim loại nhằm phát huy tối đa các đặc tính vật lý của nhôm, phù hợp cho các nhà thiết kế, kỹ sư và nhà sản xuất. Nhôm định hình ngày càng được ứng dụng rộng trong các ngành công nghiệp …</p>
                                        <div class="link float-right">
                                            <a href="#">doc them</a>
                                            <ul class="share_social">
                                                chia sẽ:
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="news-ct clearfix">
                                    <div class="news-img">
                                        <a href="news.html"><img class="img-responsive" src="../images/334768397646615-659-x-425.png" alt=""></a>
                                    </div>
                                    <div class="news-info">
                                        <h3><a href="news.html">CÔNG DỤNG CỦA NHÔM ĐỊNH HÌNH</a></h3>
                                        <span><i class="fa fa-calendar" aria-hidden="true"></i> 15-02-2017</span>
                                        <span><i class="fa fa-user" aria-hidden="true"></i> Admin</span>
                                        <p>Thanh nhôm định hình là những loại nhôm đã qua quá trình xử lý kim loại nhằm phát huy tối đa các đặc tính vật lý của nhôm, phù hợp cho các nhà thiết kế, kỹ sư và nhà sản xuất. Nhôm định hình ngày càng được ứng dụng rộng trong các ngành công nghiệp …</p>
                                        <div class="link float-right">
                                            <a href="#">doc them</a>
                                            <ul class="share_social">
                                                chia sẽ:
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hpagination">
                        <nav class="page-navigation">
                            <ul class="pagination1">
                                <li><a href=""><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                <li class="active"><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>