<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form novalidate role="form" name="frm" class="form-horizontal">
                    <div class="card-header">
                        <strong>Thông tin nhóm</strong>
                    </div>
                    <div class="card-body">

                        <div class="form-group row" ng-class="{ 'is-invalid' : frm.name.$invalid && !frm.name.$pristine }">
                            <label class="col-md-3 col-form-label" for="text-input">Tên nhóm</label>
                            <div class="col-md-9">
                                <input required type="text" id="text-name" name="name" ng-model="data.Name" maxlength="128" class="form-control" placeholder="Tên nhóm">
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{ 'is-invalid' : frm.MetaTitle.$invalid && !frm.MetaTitle.$pristine }">
                            <label class="col-md-3 col-form-label" for="text-input">Meta title</label>
                            <div class="col-md-9">
                                <input type="text" id="text-MetaTitle" name="MetaTitle" ng-model="data.MetaTitle" maxlength="128" class="form-control" placeholder="Nhập title">
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{ 'is-invalid' : frm.MetaDescription.$invalid && !frm.MetaDescription.$pristine }">
                            <label class="col-md-3 col-form-label" for="text-input">Meta Description</label>
                            <div class="col-md-9">
                                <input type="text" id="text-MetaDescription" name="MetaDescription" ng-model="data.MetaDescription" maxlength="128" class="form-control" placeholder="Nhập description">
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{ 'is-invalid' : frm.MetaKeyword.$invalid && !frm.MetaKeyword.$pristine }">
                            <label class="col-md-3 col-form-label" for="text-input">Meta Keyword</label>
                            <div class="col-md-9">
                                <input type="text" id="text-MetaKeyword" name="MetaKeyword" ng-model="data.MetaKeyword" maxlength="128" class="form-control" placeholder="Nhập keyword">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Danh mục cha</label>
                            <div class="col-md-9">
                                <select ui-select2 ng-model="data.ParentId" class="form-control"  ng-options="option.Id as option.Name for option in categories">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" ng-click="save()" class="btn btn-sm btn-primary" ng-disabled="frm.$invalid"><i class="fa fa-dot-circle-o"></i> Lưu</button>
                        <button type="reset" class="btn btn-sm btn-danger" ui-sref="app.catalog.category"><i class="fa fa-ban"></i> Hủy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>