<div class="div-box">
    <footer id="footer-wrapper-style2">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="pp">
                            <li><a href="#" class="pandp">Chính sách & quy định chung</a></li>
                            <li><a href="#" class="pandp active">Chính sách mua hàng & thanh toán</a></li>
                            <li><a href="#" class="pandp">Chính sách vận chuyển</a></li>
                            <li><a href="#" class="pandp">Chính sách đổi trả</a></li>
                            <li><a href="#" class="pandp">Chính sách bảo hành</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <h3>CÔNG TY TNHH DV NAM LỘC</h3>
                    </div>
                    <div class="col-md-6 col-sm-6 mt40-1">
                        <div>
                            <h4>Trụ sở chính hồ chí minh</h4>
                            <div class="icon-info">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <p>299/10 Lý Thường Kiệt P.15 Q.11 TpHCM</p>
                            </div>
                            <div class="icon-info">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <p>Điện thoại: (+84)28 38686443 - 38653081 - 22151691</p>
                            </div>
                            <div class="icon-info">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <p>Email: sales@namlocalu.com</p>
                            </div>
                            <div class="icon-info">
                                <i class="fa fa-mobile" aria-hidden="true"></i>
                                <p>Hotline: 0909 753 988</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 mt40-1">
                        <div>
                            <h4>Nhà Máy Sản Xuất</h4>
                            <div class="icon-info">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <p>15/9 B-C Trương Thị Như, Ấp 4, Xuân Thới Sơn, Huyện Hóc Môn</p>
                            </div>
                            <div class="icon-info">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <p>Điện thoại: (+84)28 66709888</p>
                            </div>
                            <div class="icon-info">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <p>Email: sales@namlocalu.com</p>
                            </div>
                            <div class="icon-info">
                                <i class="fa fa-mobile" aria-hidden="true"></i>
                                <p>Hotline: 0909 753 988</p>
                            </div>
                        </div>
                    </div>
                    <div class="nl-ref col-md-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>let's connect:</h5>
                                    <ul id="social-footer">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h5>Tải ứng dụng mua hàng:</h5>
                                    <ul class="app-footer">
                                        <li><a href="#"><img src="/Assets/client/images/icon/app-store-buttons-android.png" alt=""></a></li>
                                        <li><a href="#"><img src="/Assets/client/images/icon/appstore-icon.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <img src="/Assets/client/images/icon/dadangky.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p class="copyright">Namloc © 2018 Copyright, All Right Reserved 2018 Designed by <span class="company-trademark">WBrand</span></p>
            </div>
        </div>
    </footer>
</div>
