<header class="header header-style-1">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="top-sidebar top-bar-left col-md-8">
                    <aside id="text-11" class="widget widget_text">
                        <div class="textwidget">
                            <i class="fa fa-envelope" aria-hidden="true"></i> info@globalopentrip.com <i style="margin-left: 15px" class="fa fa-phone" aria-hidden="true"></i> +(84) 985-011-402
                        </div>
                    </aside>
                </div>
                <div class="top-sidebar top-bar-right col-md-4">
                    <aside id="text-6" class="widget widget_text">
                        <div class="textwidget">
                            <a href="">Vn</a> | <a href="">
                                En
                            </a>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="header-top header-top-style-1">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-2">
                    <div class="header-logo">
                        <h1><a href="index.html"><img src="../images/icon/Logo.png" alt="logo" /></a></h1>
                    </div>
                </div>
                <div class="col-md-6 col-xs-8">
                    <div class="search clearfix">
                        <input type="text" name="search" placeholder="tìm sản phẩm" id="">
                        <button type="submit" class="searchButton"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                    <div class="location">
                        <ul>
                            <li><i class="fa fa-phone" aria-hidden="true"></i><span>Hotline: (+84) 28 66709888</span></li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i><span>Email: sales@namlocalu.com</span></li>
                        </ul>
                        <div class="add1"><i class="fa fa-map-marker" aria-hidden="true"></i><span>15/9 B-C Trương Thị Như, Ấp 4, Xuân Thới Sơn, Huyện Hóc Môn</span></div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-2">
                    <img src="../images/iso.png" alt="">
                </div>
                <!-- <div class="col-md-6">
                  <div class="main-nav-wrapper">
                      <nav id="primary-menu" class="main-nav pull-left">
                        <ul class="nav">
                          <li class="menu-item"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a>
                          </li>
                          <li class="active menu-item"><a href="tour.html">Tour</a>
                          </li>
                          <li class="menu-item"><a href="blog.html">Blog</a>
                          </li>
                          <li class="menu-item"><a href="visa.html">Dịch Vụ Visa</a>
                          </li>
                          <li class="menu-item"><a href="contact.html">Liên Hệ</a>
                          </li>
                        </ul>
                      </nav>
                      <div class="pull-right">
                      <div class="icon-search-menu">
                        <i class="wicon fa fa-search"></i>
                        <div id="searchBox" class="hide-search">
                          <input id="search-ajax" placeholder="Search" type="search"/>
                          <button><i class="fa fa-search"></i></button>
                        </div>
                      </div>
                      <div class="shopping-cart-icon">
                        <div class="widget_shopping_cart_content">
                          <div class="widget_shopping_cart_icon"><i class="wicon fa fa-shopping-bag"></i><span class="total">0</span></div>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div> -->
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">

            <div class="main-nav-wrapper">
                <div class="header-left">
                    <nav id="primary-menu" class="main-nav">
                        <ul class="nav">
                            <li class="active menu-item menu-home">
                                <a href="#">Home</a>
                            </li>
                            <li class="mega-menu menu-item">
                                <a href="#">Giới Thiệu</a>
                            </li>
                            <li class="menu-item menu-blog">
                                <a href="#">Tin Tức</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Tin Tức</a></li>
                                    <li><a href="#">Tin Tức</a></li>
                                    <li><a href="#">Tin Tức</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-project">
                                <a href="project-4-columns-portrait.html">Project</a>
                            </li>
                            <li class="menu-item menu-shop">
                                <a href="#">Sản Phẩm</a>
                            </li>
                            <li class="menu-item menu-blog">
                                <a href="#">Năng Lực</a>
                                <ul class="sub-menu">
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                    <li><a href="book-service.html">Book Service</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-shop">
                                <a href="#">Liên Hệ</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- .header-main-nav-->
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu">
        <div class="col-3 text-left"><a id="primary-menu" href="#"><i class="fa fa-bars"></i></a></div>
        <div class="col-3 text-center">
            <div class="logo">
                <h1><a href="index.html"><img src="../images/icon/mobile-logo.png" alt="logo" /></a></h1>
            </div>
        </div>
        <div class="col-3 text-right">
            <div class="header-right">
                <div class="search-button-wrapper header-customize-item style-default">
                    <div class="icon-search-menu">
                        <i class="wicon1 fa fa-search"></i>
                        <div id="searchBox1" class="hide-search">
                            <input id="search-ajax" placeholder="Search" type="search" />
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav id="my-menu">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li>
                <a href="tour.html">Tour</a>
                <ul>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="">Dich Vu</a></li>
                    <li><a href="visa.html">Visa</a></li>
                </ul>
            </li>
            <li><a href="contact.html">Lien He</a></li>
        </ul>
    </nav>
</header>
