@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="div-box">
    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:380px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="../libs/jssor.slider/svg/loading/static-svg/spin.svg" />
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1300px;height:500px;overflow:hidden;">
            <div>
                <img data-u="image" src="../images/test/001.jpg" />
            </div>
            <div>
                <img data-u="image" src="../images/test/002.jpg" />
            </div>
            <div>
                <img data-u="image" src="../images/test/003.jpg" />
            </div>
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb051" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
            <div data-u="prototype" class="i" style="width:16px;height:16px;">
                <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                </svg>
            </div>
        </div>
        <!-- Arrow Navigator -->
        <div data-u="arrowleft" class="jssora051" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
            <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
            </svg>
        </div>
        <div data-u="arrowright" class="jssora051" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
            <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
            </svg>
        </div>
    </div>
</div>

<div class="div-box mb20">
    <div class="product-list">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb20">
                    <div class="product-content">
                        <h5><a href="">Lorem ipsum dolor sit amet</a></h5>
                        <img class="img-responsive" src="../images/product-1.png" alt="product 1">
                    </div>
                </div>
                <div class="col-md-4 mb20">
                    <div class="product-content">
                        <h5><a href="">Lorem ipsum dolor sit amet</a></h5>
                        <img class="img-responsive" src="../images/product-1.png" alt="product 1">
                    </div>
                </div>
                <div class="col-md-4 mb20">
                    <div class="product-content">
                        <h5><a href="">Lorem ipsum dolor sit amet</a></h5>
                        <img class="img-responsive" src="../images/product-1.png" alt="product 1">
                    </div>
                </div>
                <div class="col-md-4 mb20">
                    <div class="product-content">
                        <h5><a href="">Lorem ipsum dolor sit amet</a></h5>
                        <img class="img-responsive" src="../images/product-1.png" alt="product 1">
                    </div>
                </div>
                <div class="col-md-4 mb20">
                    <div class="product-content">
                        <h5><a href="">Lorem ipsum dolor sit amet</a></h5>
                        <img class="img-responsive" src="../images/product-1.png" alt="product 1">
                    </div>
                </div>
                <div class="col-md-4 mb20">
                    <div class="product-content">
                        <h5><a href="">Lorem ipsum dolor sit amet</a></h5>
                        <img class="img-responsive" src="../images/product-1.png" alt="product 1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-box mb">
    <div class="services">
        <div class="container">
            <div class="h-title">
                <h2 class="title-style1 mb45">Dịch vụ Namloc</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="services-content mt20">
                        <img src="../images/oval-3.png" alt="">
                        <h3>Thiết kế</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-content mt20">
                        <img src="../images/group-7.png" alt="">
                        <h3>Sản Xuất Tổng Thể</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-content mt20">
                        <img src="../images/group-8.png" alt="">
                        <h3>Sơn tỉnh điện</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-box mb">
    <div class="hot-news">
        <div class="container">
            <div class="h-title">
                <h2 class="title-style1 mb45">Tin Tức</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="border-sd clearfix mt20">
                        <div class="news-img"><img class="img-responsive" src="../images/news-1.png" alt=""></div>
                        <div class="news-content">
                            <h4>img-responsive</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                            <a class="readmore" href="#">đọc thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="border-sd clearfix mt20">
                        <div class="news-img"><img class="img-responsive" src="../images/news-3.png" alt=""></div>
                        <div class="news-content">
                            <h4>img-responsive Lorem ipsum dolor</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                            <a class="readmore" href="#">đọc thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="border-sd clearfix mt20">
                        <div class="news-img"><img class="img-responsive" src="../images/news-3.png" alt=""></div>
                        <div class="news-content">
                            <h4>img-responsive</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                            <a class="readmore" href="#">đọc thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="border-sd clearfix mt20">
                        <div class="news-img">
                            <img class="img-responsive" src="../images/news-2.png" alt="">
                        </div>
                        <div class="news-content">
                            <h4>img-responsive</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                            <a class="readmore" href="#">đọc thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-box mb">
    <div class="videos">
        <div class="container">
            <div class="h-title">
                <h2 class="title-style1 mb45">Video Namloc</h2>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LnDUYZHDQAg"></iframe>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="video-list">
                        <ul>
                            <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>vietbuild saigon 2018 cung Namloc</a></li>
                            <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>cau tao nhom dinh hinh cua so</a></li>
                            <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>them dinh dinh chu V</a></li>
                            <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>quy trinh san xuat nhom hinh cua namloc</a></li>
                            <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>them dinh dinh chu V</a></li>
                            <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i>them dinh dinh chu V</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-box">
    <div class="partner">
        <div class="swiper-container service-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../images/logo-1.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../images/logo-2.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../images/logo-3.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../images/logo-4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../images/logo-5.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../images/logo-6.png" alt="">
                </div>
            </div>
            <!-- Add Arrows -->
            <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> -->
        </div>
    </div>
</div>